.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  filter: invert(100%);
}
.icon-pencil {
  background-image: url(../static/pencil.svg);
}

.icon-pencil:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
    brightness(104%) contrast(97%);
}
